*{
    font-family: 'Raleway', sans-serif;
}
header{
    margin-top: -20px !important;
    background-color: aquamarine;
    padding: 30px;
    margin-bottom: 30px;
}

table{
        margin: 40px auto;
        width: 70%
        border: 10px black solid;
        border-collapse: collapse;
        display: flex;
        justify-content: center;
    }

    td, th{
        border: 2px grey solid;
        padding: 30px;
    }

    th{
        background-color: aquamarine;
    }

    td:nth-child(2), td:nth-child(4), td:nth-child(6){
        background-color: #EEEEEE; 
    }

    header, form, h1, #accueil, footer{
        margin: 0 auto;
        text-align: center;
    }

    li{
        list-style-type: none;
    }

    nav{
        margin: 20px auto;
    }

    nav a{
        font-size: 2em; 
    }

    h1, p{
        margin: 20px auto;
    }

    #profil{
        width: 30%;
        margin: 90px auto;

    }

#peupler{
    display: none;
}

#vider{
    display: none;
}

@media only screen 
and (min-width : 1224px) {
}

@media only screen and (max-width: 1223px) {
    table tr td:nth-child(1){ display:none;}
    table tr th:nth-child(1){ display:none;}  
}

@media only screen and (max-width: 900px) {
    table tr td:nth-child(4){ display:none;}
    table tr td:nth-child(5){ display:none;}
    table tr th:nth-child(4){ display:none;}
    table tr th:nth-child(5){ display:none;} 
}